.container {
  width: 80%;
}
.stretch {
    width:90%;
}


#border {
border-width: .2em;
border-style: solid;
border-color: #900;
}
table
{
border-collapse:collapse;
}
table,thead
{
border-width:.3em;
border-color: #900;
}
.plabels
{
font-size:140%;
color: #900;
border-style: solid;
border-width:.1px;
border-color: #900;
}
td.topp
{
font-size:150%;
}
a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size; 150%;
  font-weight: bold;
  padding: 20px;
}
a.notify_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 200px;
  color: #fff;
  background: #339966;
  font-size; 100%;
  font-weight: bold;
  padding: 0px;
}
input.notify_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 200px;
  color: #fff;
  background: #339966;
  font-size; 85%;
  font-weight: bold;
  padding: 0px;
}
a.proj_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 30%;
  color: #fff;
  background: #FF5959;
  font-size; 100%;
  font-weight: bold;
  padding: 2%;
}
a.edit_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 30%;
  color: #FFCCFF;
  background: #FF5959;
  font-size: 60%;
  font-weight: bold;
  padding: 2%;
}
.button {
    background: #9cf;
}
.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
input.cen {
  text-align: center;
}
span.newproj {
    font-size:140%;
    color: #00248F;
}
span.newproj:hover{
    text-decoration: underline
}
